---
title: Welcome to pxohlqo!
---
<!DOCTYPE html>
<html>
    {% include head.html %}
    <head>
        <title>Welcome!</title>
    </head>

    <body>
            <header class="homeHeader">
                <a class="headerUpcaseP" href="{{ site.baseurl }}">P</a>
                <h1 class="headerTitle">PXOHLQO</h1>
                <a class="headerAbout" href="/about.html">About</a>
            </header>

            <div>

            </div>

            {% include mfooter.html %}
    </body>

</html>


