<!DOCTYPE html>
<html style="height: 100%;box-sizing:border-box">

    {% include head.html %}

    <body style="min-height: 100%;position: relative;">
        {% include post-header.html %}

        <div class="post-content">
            <iframe name="content-frame">
                
                    {{ content }}
            </iframe>
            <script>
                var cssLink = document.createElement('link');
                cssLink.href=""
            </script>
                
        </div>

        {% include post-footer.html %}

    </body>

</html>